target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.mvn/
*.iml
.idea/
.settings/
bin/
_site/
.classpath
.eclipse-pmd
.project
*.launch
.springBeans
.apt_generated
.factorypath
.profiler
git.properties

.DS_Store
.tmp
